{% extends 'main/pattern.html' %}


{% block title %}Profile{% endblock %} 

{% block content %}
    <div class="features">
        <h1>Добро пожаловать, {{ user.get_username  }} {{ user.get_full_name  }}</h1>

        <h1>Ваши статьи</h1>
        
        
        {% if news %}       
            
            {% for item in news%}
                {% if item.user_id == user.id %}
                <div class="alert alert-warning">
                    <h3>{{ item.tittle }}</h3>
                    
                    <p>{{ item.anons }}</p>
                    <p>{{ item.data }}</p>
                    <ul>
                    <a href="{% url 'news-detail' item.id %}" ><li><button class="btn btn-warning"><i class="fas fa-book"></i>Читать далее...</li></a>
                    </ul>
                    
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <p>Нет новостей</p>
        {% endif %}
 
    </div>
{% endblock %}